p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(170, 66, 66);
    font-size: 40px;
    text-align: center;
}
.pepe{
    text-align: right;
}
#texto{
    color: #ac4f4f;
    font-family: fantasy;
}